body {
  background: #201f31 !important;
  color: #fcfff8 !important;
}

header {
  background-color: #39497D;
  font-size: 50px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.movie-app > .row {
  overflow-x: auto;
  flex-wrap: nowrap;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.movie-app > .row::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.image-container {
  position: relative;
  transition: transform 0.2s;
}
.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.list-heading {
  color: #7D7D8C;
}