/* Color Root */
:root {
  --body: #201f31;
  --header: #39497d;
  --font-color: #fcfff8;
  --alt-font-color: #7d7d8c;
  --overlay: rgba(0, 0, 0, 0.8);
}

/* Body */
body {
  background: var(--body) !important;
  color: var(--font-color) !important;
  font-size: 16px;
}

/* Header */
.header {
  display: flex;
  justify-content: center;
  background-color: var(--header);
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: default;
}
.header .logo-2 {
  color: var(--alt-font-color);
}

/* List Heading */
.list-heading {
  color: var(--alt-font-color);
  cursor: default;
}

/* List Row */
.movie-app > .row {
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.movie-app > .row::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Poster Image */
.image-container {
  position: relative;
  transition: transform 0.2s;
}
.image-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Top Overlay */
.top-overlay {
  position: absolute;
  background-color: var(--overlay);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  top: 0;
}
.top-overlay ul {
  margin-top: 1rem;
  padding-left: 1rem;
  list-style: none;
}
.top-overlay strong {
  color: var(--alt-font-color);
}
.image-container:hover .top-overlay {
  opacity: 1;
}

/* Bottom Overlay */
.bottom-overlay {
  position: absolute;
  background-color: var(--overlay);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 1rem;
  text-align: center;
}
.image-container:hover .bottom-overlay {
  opacity: 1;
}
